<!-- Author: David Matos -->
<!-- EditForm is the component that allows users to configure the view -->

<template>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Twitter Layout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="exampleFormControlSelect1">Sort columns by</label>
            <select class="form-control" id="exampleFormControlSelect1" v-model="sortBy">
              <option>Most recent</option>
              <option>Least recent</option>
              <option>Most retweeted</option>
              <option>Less retweeted</option>
            </select>
          </div>

          <label for="tweetsPerColumn">Number of tweets per column</label>
          <div class="row" id="tweetsPerColumn">
            <div class="col-md-4">
              <div class="form-group">
                <label for="tweetsForMakeSchool">MakeSchool ({{tweetsForMakeSchool}})</label>
                <input type="range" class="form-control-range" min="1" max="10" value="3" id="tweetsForMakeSchool" v-model="tweetsForMakeSchool">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="tweetsForHackerNews">Hacker News ({{tweetsForHackerNews}})</label>
                <input type="range" class="form-control-range" min="1" max="10" value="3" id="tweetsForHackerNews" v-model="tweetsForHackerNews">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="tweetsForYCombinator">Y Combinator ({{tweetsForYCombinator}})</label>
                <input type="range" class="form-control-range" min="1" max="10" value="3" id="tweetsForYCombinator" v-model="tweetsForYCombinator">
              </div>
            </div>
          

          </div>


        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="saveChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  name: "Tweet",
  components: {
    // datePicker
  },
  data() {
    return { 
      sortBy: "",
      tweetsForMakeSchool: 3,
      tweetsForHackerNews: 3,
      tweetsForYCombinator: 3
      
    }
  },
  mounted() {
    if (localStorage.sortBy) {
      this.sortBy = localStorage.sortBy;
    }
    if (localStorage.tweetsForMakeSchool) {
      this.tweetsForMakeSchool = localStorage.tweetsForMakeSchool;
    }
    if (localStorage.tweetsForHackerNews) {
      this.tweetsForHackerNews = localStorage.tweetsForHackerNews;
    }
    if (localStorage.tweetsForYCombinator) {
      this.tweetsForYCombinator = localStorage.tweetsForYCombinator;
    }
  },
  methods: {
    saveChanges: function() {
      localStorage.sortBy = this.sortBy;
      localStorage.tweetsForMakeSchool = this.tweetsForMakeSchool;
      localStorage.tweetsForHackerNews = this.tweetsForHackerNews;
      localStorage.tweetsForYCombinator = this.tweetsForYCombinator;
      this.$emit('refresh-feed');
    }
  }
};



</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>


</style>
