<!-- Author: David Matos -->
<!-- Stream is a collection of tweets filtered by a certain criteria -->
<!-- There should be three streams in this example:  @MakeSchool, @newsycombinator and @ycombinator -->


<template>
    
    <div id="twitterFeedDiv">

        <Tweet v-for="tweet in tweets.data" 
        v-bind:key="tweet.id" 
        v-bind:tweetContent="tweet.text"  
        v-bind:createdAt="tweet.created_at" 
        v-bind:userUrl="tweet.user.url" 
        v-bind:username="tweet.user.screen_name" 
        v-bind:tweetId="tweet.id_str" 
        v-bind:name="tweet.user.name" 
        v-bind:retweetedCount="tweet.retweet_count" 
        v-bind:retweetedFrom="tweet.retweeted_status" 
        v-bind:userMentions="tweet.entities.user_mentions"/>
            
    </div>
</template>

<script>
import axios from "axios";
import Tweet from './Tweet'

export default {
  name: "Stream",
  components:{
      Tweet
  },
  props: {
    screenName: String,
    count: Number,
    sortBy: String
  },
  watch: {
    count(newValue) {
      this.count = newValue;
      this.refreshFeed(this.count);
    },
    sortBy(newValue){
        this.sortBy = newValue;
        this.refreshFeed(this.count);
    }

  },
  data() {
    return { 
        tweets: {data: []},
        date: new Date('2011-04-11T10:20:30Z')
    }

  },
  mounted() {
    this.refreshFeed(this.count);
  },
  methods:{
      
      refreshFeed: function(count){
        var url = 'http://localhost:7890/1.1/statuses/user_timeline.json?count=' + count+'&screen_name=' + this.screenName;
          
        axios.get(url).then(response => this.update(response));

      },
      update: function(response){
        while(this.tweets.data.length>0){
            this.tweets.data.pop();
        }
        for(var i = 0; i < response.data.length; i++){
            this.tweets.data.push(response.data[i]);
        }    
        if(this.sortBy === "Most recent"){
            this.tweets.data.sort((t1,t2) => t1.id > t2.id ? -1 : 1);
        }
        if(this.sortBy === "Least recent"){
            this.tweets.data.sort((t1,t2) => t1.id < t2.id ? -1 : 1);
        }
        if(this.sortBy === "Most retweeted"){
            this.tweets.data.sort((t1,t2) => t1.retweet_count > t2.retweet_count ? -1 : 1);
        }
        if(this.sortBy === "Less retweeted"){
            this.tweets.data.sort((t1,t2) => t1.retweet_count < t2.retweet_count ? -1 : 1);
        }
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
} */
</style>
