<!-- Author: David Matos -->
<!-- Tweet is the component that presents a specific tweet -->



<template>
  <div class="card tweet">
    
    <div class="card-header">
      <div class="float-sm-left">
        <h5 class="card-title" >{{ name }}</h5> 
        <h6 class="card-subtitle mb-2 text-muted" ><br>{{ getFormateDate }}</h6>
      </div>

      <div class="dropdown float-sm-right">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownTweetOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Options
        </button>
        <div class="dropdown-menu" aria-labelledby="dropDownTweetOptions">
          <a class="dropdown-item" v-bind:href="''+ getTweetLink +''" target="_blank">Go to Tweet</a>
          <a class="dropdown-item" v-bind:href="''+ getUserLink +''" target="_blank">Go to @{{ username }}</a>
          
          <div v-if="userMentions.length > 0" class="dropdown-divider"></div>
          <div v-if="userMentions.length > 0" class="dropdown-item"><b>Mentioned Users</b></div>

          <a class="dropdown-item" v-for="userMention in userMentions" 
          v-bind:key="userMention.id" target="_blank" v-bind:href="'https://twitter.com/' + userMention.screen_name">@{{userMention.screen_name}}</a>
        </div>
      </div>
    </div>
    
    
    <div class="card-body">
      <p>{{ tweetContent }}</p>


    </div>

    <div class="card-footer text-muted">
      <span class="badge badge-light">{{retweetedCount}}</span> Retweets
      <div class="float-sm-right" v-if="retweetedFrom != null">From <a v-bind:href="'https://twitter.com/' + retweetedFrom.user.screen_name" target="_blank">{{ retweetedFrom.user.screen_name }}</a></div>
    </div>
    

  </div>                            
</template>

<script>

import moment from 'moment'

export default {
  name: "Tweet",
  props: {
    tweetContent: String,
    createdAt: String,
    userUrl: String,
    username: String,
    name: String,
    tweetLink: String,
    tweetId: String,
    formatedDate: String,
    retweetedCount: Number,
    retweetedFrom: Object,
    userMentions: Array
  },
  computed: {
    getTweetLink: function(){
      return "https://twitter.com/" + this.username + "/status/" + this.tweetId;
    },
    getUserLink: function(){
      return "https://twitter.com/" + this.username;
    },
    getFormateDate: function(){
      //12:32 PM - 3 Dec 2018
      return moment(this.createdAt, "ddd MMM DD HH:mm:SS +Z YYYY").format("hh:mm A - DD MMM YYYY");
    }
  }
};



</script>

<style scoped>
.tweet{
  margin-bottom: 15px;
}

</style>
