<template>
  <div id="app">
    <div class="container">
      <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
        
        <div class="row">
          
          <div class="col">
            <h1 class="float-left">Front-end Twitter Challenge <small>David Matos</small></h1>
          </div>

          <div class="col">
            <button type="button" class="btn btn-primary btn-lg editLayoutBtn float-right" data-toggle="modal" data-target="#editModal">
              Edit layout
            </button>
            <EditForm v-on:refresh-feed="refreshFeed"/>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4"><Stream v-if="localStorageLoaded" screenName="MakeSchool" v-bind:count="this.tweetsForMakeSchool" v-bind:sortBy="this.sortBy" /> </div>
            <div class="col-md-4"><Stream v-if="localStorageLoaded" screenName="newsycombinator" v-bind:count="this.tweetsForHackerNews" v-bind:sortBy="this.sortBy"/> </div>
            <div class="col-md-4"><Stream v-if="localStorageLoaded" screenName="ycombinator" v-bind:count="this.tweetsForYCombinator" v-bind:sortBy="this.sortBy"/> </div>
        </div>

      


    </div> <!-- /container -->


  </div>
</template>

<script>

import Stream from "./components/Stream.vue";
import EditForm from "./components/EditForm.vue";

export default {
  name: "app",
  components: {
    Stream,
    EditForm
  },
  data(){
    return{
      sortBy: "",
      tweetsForMakeSchool: 3,
      tweetsForHackerNews: 3,
      tweetsForYCombinator: 3,
      localStorageLoaded: false
    }
  },

  mounted() {
    if (localStorage.sortBy) {
      this.sortBy = localStorage.sortBy;
    }
    if (localStorage.tweetsForMakeSchool) {
      this.tweetsForMakeSchool = Number(localStorage.tweetsForMakeSchool);
    }
    if (localStorage.tweetsForHackerNews) {
      this.tweetsForHackerNews = Number(localStorage.tweetsForHackerNews);
    }
    if (localStorage.tweetsForYCombinator) {
      this.tweetsForYCombinator = Number(localStorage.tweetsForYCombinator);
    }

    this.localStorageLoaded = true;
    
  },

  methods:{
    refreshFeed: function(){
        this.sortBy = localStorage.sortBy;
        this.tweetsForMakeSchool = Number(localStorage.tweetsForMakeSchool);
        this.tweetsForHackerNews = Number(localStorage.tweetsForHackerNews);
        this.tweetsForYCombinator = Number(localStorage.tweetsForYCombinator);
    }
  }
};

</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

.editLayoutBtn{
  margin-bottom: 15px;
}


</style>
